:root {
    --background-color: #3F3F3F;
    --secondary-color: #595959;
    --text-color: rgb(248, 246, 246);
    --font-family: Arial;
  }

[data-theme="dark"] {
    --background-color: #3F3F3F;
    --secondary-color: #595959;
    --text-color: rgb(248, 246, 246);
}

[data-theme="light"] {
    --background-color: rgb(226, 233, 234);
    --secondary-color: #ffffff;
    --text-color: rgb(68, 68, 68);
}

[data-font="arial"] {
    --font-family: Arial;
}

[data-font="times"] {
    --font-family: 'Times New Roman';
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: lighter;
}

table {
    text-align: left;
    align-items: top;

    border-collapse: separate;
    border-spacing: 50px 50px;

    width:100%;
    background-color: var(--secondary-color);
}

#post {
    border-bottom: var(--background-color) 1px solid;
    padding-bottom: 10px;
}

td {
    vertical-align: top;
}

button {
    align-self: right;
    margin-top: 10px
}

summary {
    font-weight: bold;
    margin: 0 0 0;
    padding: 0 0 0;
}

details {
    margin-top: 45px;
}

details > article {
    padding-left: 17px;
    padding-top: 3px;
}
